.container{
    padding: 0 30px;
    width: 1170px;
    margin: 0 auto;
    max-width: 100%;
}

.header-section ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}
.header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.header-section a, .header-section ul {
    flex: 0 0 50%;
}
.header-section img {
    max-width: 345px;
}
.header-section ul a {
    color: #fff;
    font-size: 22px;
    text-shadow: 2px 0px rgb(0 0 0 / 0%);
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    .header-section img {
        max-width: 130px;
    }
    .header-section {
        margin-top: 0px;
    }
    .header-section ul a {
        color: #000;
    }
    .header-section ul {
        flex-direction: column;
        background-color: #fff;
        width: 90%;
        position: absolute;
        left: 0;
        right: 0;
        height: 190px;
        z-index: 9999999;
        margin: 18px auto;
        padding: 10px;
    }
    .header-section ul li:not(:last-child) {
        border-bottom: 1px solid #000;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .header-section ul li a{
        text-decoration: none;
    }
}
button.menu_button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 9px;
}
button.menu_button img {
    width: 100%;
}
button.menu_button_close {
    width: 20px;
    height: 20px;
    padding: 0;
}
button.menu_button_close img {
    width: 100%;
}
